. {
	margin: 0;
	padding:0;
	font-family: tahma, sans-serif;
	box-sizing: border-box;
}
body {
	background: white;
}

.chatbox{
	width: 700px;
	min-width: 390px;
	height: 600px;
    background-image: url("image/ccc.jpg");
	padding: 25px;
	margin: -110px 300px auto;
	box-shadow: 0 3px #ccc;
}

.chatlogs{
	padding: 10px;
	width: 100%;
	height: 450px;
	overflow-x: hidden;
	overflow-y: scroll;
	
}

.chatlogs : :-webkit-scrollbar {
	width:10px;
	
}

.chatlogs : :-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(0,0,0,.1);
}

.chat{
	display: flex;
	flex-flow: row wrap;
	align-item: flex-start;
	margin-bottom: 10px;
}

.chat .user-photo{
	width: 50px;
	height: 50px;
	background: #ccc;
	border-radius: 40%;
	overflow: hidden;
}

.chat .user-photo img{
	width: 100%;
}


.chat  .chat-message{
	width: 70%;
	padding: 7px;
	margin: 5px 10px 0;
	border-radius: 7px;
	color: black;
	font-size: 15px;
}


.friend .chat-message{
	background: #fff;
}

.self .chat-message{
	background: #98FB98;
	order: -1;
}

.chat-form{
	margin-top: 20px;
	display: flex;
	align-items: flex-start;
}

.chat-form input[type=text]{
	background: #fbfbfb;
	width: 50%;
	height: 40px;
	border: 2px solid #eee;
	border-radius: 3px;
	resize: none;
	padding: 10px;
	font-size: 14px;
	color: #333;
}



.chat-form input[type=submit]{
    background-color:  blue;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 5px 300px auto;
    cursor: pointer;
}

























	
